<a href="https://colab.research.google.com/github/armanalam6342/movie-recommendation-system/blob/main/Rcommender_System.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [67]:
import pandas as pd
import numpy as np

In [68]:
movies = pd.read_csv("/content/drive/MyDrive/Recommender/tmdb_5000_movies.csv")
credits =pd.read_csv("/content/drive/MyDrive/Recommender/tmdb_5000_credits.csv")

In [69]:
movies.head(1)

      budget  ... vote_count
0  237000000  ...      11800

[1 rows x 20 columns]

In [70]:
movies = movies.merge(credits,on='title')

In [71]:
movies.shape

(4809, 23)

In [72]:
movies.columns

Index(['budget', 'genres', 'homepage', 'id', 'keywords', 'original_language',
       'original_title', 'overview', 'popularity', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'vote_average',
       'vote_count', 'movie_id', 'cast', 'crew'],
      dtype='object')

In [73]:
movies=movie[['movie_id','title','overview','genres','keywords','cast', 'crew']]

In [74]:
movies.isna().sum()

movie_id    0
title       0
overview    0
genres      0
keywords    0
cast        0
crew        0
dtype: int64

In [75]:
movies.dropna(inplace=True)

In [76]:
movies.head(3)

   movie_id  ...                                               crew
0     19995  ...  [{"credit_id": "52fe48009251416c750aca23", "de...
1       285  ...  [{"credit_id": "52fe4232c3a36847f800b579", "de...
2    206647  ...  [{"credit_id": "54805967c3a36829b5002c41", "de...

[3 rows x 7 columns]

In [77]:
def extract (obj):
  l= []
  for i in eval(obj):
    l.append(i['name'])
  
  return l

In [78]:
movies['genres']=movies['genres'].apply(extract)

In [79]:
movies['keywords']=movies['keywords'].apply(extract)

In [80]:
def extract5(obj):
  count = 0
  l= []
  for i in eval(obj):
    if count !=5:
      l.append(i['name'])
      count +=1
    else:
      break
  return l

In [81]:
movies['cast']=movies['cast'].apply(extract5)

In [82]:
def extract_director(obj):
  l= []
  for i in eval(obj):
    if i['job']== 'Director':
      l.append(i['name'])
      break
  return l

In [83]:
movies['crew']=movies['crew'].apply(extract_director)

In [84]:
movies.head()

   movie_id  ...                 crew
0     19995  ...      [James Cameron]
1       285  ...     [Gore Verbinski]
2    206647  ...         [Sam Mendes]
3     49026  ...  [Christopher Nolan]
4     49529  ...     [Andrew Stanton]

[5 rows x 7 columns]

In [85]:
movies['overview']=movies['overview'].apply(lambda x: x.split())

In [86]:
def remove_space(obj):
  l = []
  for i in obj:
    l.append(i.replace(' ',''))
  return l

In [87]:
movies['genres']=movies['genres'].apply(remove_space)
movies['keywords']=movies['keywords'].apply(remove_space)
movies['cast']=movies['cast'].apply(remove_space)
movies['crew']=movies['crew'].apply(remove_space)

In [88]:
movies.head()

   movie_id  ...                crew
0     19995  ...      [JamesCameron]
1       285  ...     [GoreVerbinski]
2    206647  ...         [SamMendes]
3     49026  ...  [ChristopherNolan]
4     49529  ...     [AndrewStanton]

[5 rows x 7 columns]

In [89]:
movies['tags']=movies['overview']+movies['genres']+movies['keywords']+movies['cast']+movies['crew']

In [90]:
df = movies[['movie_id','title','tags']]

In [91]:
df.head()

   movie_id  ...                                               tags
0     19995  ...  [In, the, 22nd, century,, a, paraplegic, Marin...
1       285  ...  [Captain, Barbossa,, long, believed, to, be, d...
2    206647  ...  [A, cryptic, message, from, Bond’s, past, send...
3     49026  ...  [Following, the, death, of, District, Attorney...
4     49529  ...  [John, Carter, is, a, war-weary,, former, mili...

[5 rows x 3 columns]

In [92]:
df['tags']=df['tags'].apply(lambda x : ' '.join(x))

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [97]:
df.head()

   movie_id  ...                                               tags
0     19995  ...  In the 22nd century, a paraplegic Marine is di...
1       285  ...  Captain Barbossa, long believed to be dead, ha...
2    206647  ...  A cryptic message from Bond’s past sends him o...
3     49026  ...  Following the death of District Attorney Harve...
4     49529  ...  John Carter is a war-weary, former military ca...

[5 rows x 3 columns]

In [102]:
# agar data mein 3rd form pulural word h sb ko singular m de dega like loved = love , Rises = Rise
import nltk
from nltk.stem.porter import PorterStemmer
ps = PorterStemmer()

In [103]:
def stem(text):
  y = []
  for i in text.split():
    y.append(ps.stem(i))
  return ' '.join(y)

In [105]:
df['tags']=df['tags'].apply(stem)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [93]:
from sklearn.feature_extraction.text import CountVectorizer

In [94]:
cv = CountVectorizer(max_features=5000, stop_words='english')

In [108]:
vector = cv.fit_transform(df['tags']).toarray()

In [109]:
vector

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]])

In [ ]:
cv.get_feature_names()

In [130]:
#Cosine Similarity gives us the distance between vectors but distance calculated on theata
from sklearn.metrics.pairwise import cosine_similarity
similarity = cosine_similarity(vector)

In [122]:
df[df['title']=='Avatar'].index[0]

0

In [126]:
sorted(list(enumerate(similarity[0])),reverse=True,key=lambda x:x[1])[1:6]

[(1216, 0.28306925853614895),
 (507, 0.2545139051903111),
 (3730, 0.2506402059138015),
 (582, 0.24194822861802104),
 (539, 0.24019223070763068)]

In [127]:
def recommend(movie):
  movie_index = df[df['title']==movie].index[0]
  distance = similarity[movie_index]
  movie_list = sorted(list(enumerate(distance)),reverse=True,key=lambda x:x[1])[1:6]
  for i in movie_list:
    print(df.iloc[i[0]].title)

In [129]:
recommend('Batman Begins')

The Dark Knight
Batman
Batman
The Dark Knight Rises
Rockaway